/* 
    // Author: Anne Ali
    // Date: Jan 28, 2016
    // Class: OOSD Oct 2015
    // Description: CSS for package page
*/


  .no-touch {
       margin: 0;
       padding: 0;
       background: #EEE;
       font-size:larger;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       letter-spacing:2px;
       font-weight: bolder;
       
    }
    .wrapper {
       overflow: hidden;
       margin: 19px;
       padding:3px;
    }
    .box {
       float: left;
       position: relative;
       width: 20%;
       padding-bottom: 15%;
    }
    .boxInner {
       float:inherit;
        position: absolute;
       left: 0.5px;
       right: 0.5px;
       top: 0.5px;
       bottom: 0.5px;
       overflow: hidden;

    }
    .boxInner img {
        position: absolute;
      Height:95%;
       Width:92%;
       padding-top :1em;
       
    }

    .boxInner .titleBox {
        
        font-weight: 900;
       background-color: #374449;
       color: #d7ceb2;
       text-shadow: rgba(255,255,255,0.5) 3px 3px 3px;
       color: rgba(0,0,0,0.6);
       text-align:center;
       position: absolute;
       float:right;
       Height:89.75%;
       Width:91.75%;
       bottom: 0;
       left: 0;
       right: 0;
       margin-bottom: -275px;
       background: #000;
       background: rgba(0, 0, 0, 0.5);
       color:  ghostwhite;
       padding: 10px;
       text-align: justify,right, ;
       -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
       transition: all 0.3s ease-out;
    }
    .no-touch .boxInner:hover .titleBox, .touch .boxInner.touchFocus .titleBox {
       margin-bottom: 0;
       
    }
    @media only screen and (max-width : 480px) {
       /* Smartphone view: 1 tile */
       .box {
          width: 100%;
          padding-bottom: 100%;
       }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
       /* Tablet view: 2 tiles */
       .box {
          width: 50%;
          padding-bottom: 50%;
       }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
       /* Small desktop / ipad view: 3 tiles */
       .box {
          width: 33.3%;
          padding-bottom: 33.3%;
       }
    }
    @media only screen and (max-width : 1290px) and (min-width : 1051px) {
       /* Medium desktop: 4 tiles */
       .box {
          width: 25%;
          padding-bottom: 25%;
       }
    }